<div class=''>
  <ul class=''>
    <% @users.each do |user| %>
      <li class=''>
        <div class=''>photo</div>
        <div class=''>
          <%= link_to user do %>
            <h1 class=''><%= user.name %></h1>
            <h2 class=''>Number of posts: <%= user.posts_counter %></h2>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
<div>