@import './modules/frames.scss';
@import './modules/buttons.scss';
@import './fonts.scss';

.registration_form_main_container {
    @include flexbox(column);
    @include centerHor(420px);
    @include simpleFrame(300px, fit-content);
    padding: 20px;
}


.sign_up_header {
    margin-bottom: 10px;
}
.field {
    margin-bottom: 10px;
}