@import './modules/frames.scss';
@import './modules/buttons.scss';
@import './fonts.scss';
// ------------------ users-index -------------------

.users_index_main_wrapper {
    @include flexbox(column);
    @include centerHor(420px);
}

.users_index_user_li {
    @include flexbox(row);
    margin-bottom: 20px;
}

.users_index_user_photo {
    @include simpleFrame(55px, 47px);
    @include customFont('lato1', 15px);
    margin-right: 20px;
    padding-top: 23px;
    padding-left: 15px;
}

.users_index_user_info a {
    @include flexbox(row);
    @include simpleFrame(300px, 70px);
}

.users_index_user_name {
    margin-left: 20px;
    @include customFont('lato1', 27px);
}

.users_index_user_posts {
    position: absolute;
    @include customFont('lato1', 12px);
    right: 40px;
    margin-top: 45px;
}

// ---------------users-show ------------------------------

// User info
.user_show_main_wrapper {
    @include flexbox(column);
    @include centerHor(420px);
}
.user_show_user_info_wrapper {
    @include flexbox(row);
    margin-bottom: 20px;
}
.user_show_user_photo {
    @include simpleFrame(55px, 47px);
    @include customFont('lato1', 15px);
    margin-right: 20px;
    padding-top: 23px;
    padding-left: 15px;
}
.user_show_user_detail_wrapper {
    @include flexbox(row);
    @include simpleFrame(300px, 70px);
}
.user_show_user_name {
    margin-left: 20px;
    @include customFont('lato1', 27px);
}
.user_show_user_post_counter {
    position: absolute;
    @include customFont('lato1', 12px);
    right: 40px;
    margin-top: 45px;
}
.user_show_user_bio_wrapper {
    @include flexbox(column);
    @include simpleFrame(372px, fit-content);
    padding: 10px;
}
.user_show_user_bio_tag {
    @include customFont('lato1', 15px);
}
.user_show_user_bio_detail {
    @include customFont('lato3', 13px);
}
// User comments
.user_show_user_posts_wrapper {
    padding: 0px;
}
.user_show_user_post {
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    @include simpleFrame(352px, fit-content)
}
.user_show_user_post_title {
    @include customFont('lato1', 15px);
}
.user_show_user_post_text {
    @include customFont('lato3', 13px);
}
.user_show_user_post_comments {
    position: relative;
    @include customFont('lato1', 12px);
    margin-left: 220px;
}
.user_show_see_all_post_link {
    @include simpleBtn(100px, 20px);
    margin-left: 135px;
    text-align: center;
    text-decoration: none;
    color: black;
}